.reset-password{
    min-height: calc(100vh - 80px); /*80 px is height of topbar*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5), /*the very bright image became blurred*/
        rgba(255, 255, 255, 0.5)
        ),
    url(../../images/Pic3.jpg);
    background-size: cover;
}

.reset-password-title{
    font-size: 50px;
}

.reset-password-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-password-form > Label{
    margin:10px 0; 
}

.reset-password-input{
    padding: 10px;
    background-color: white;
    border: none;
}

.reset-password-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}