.banner {
    background-color: teal;
    background: url(../../images/Pic1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .banner-title {
    color: white;
} 

/*Media queries*/
@media screen and (min-width:900px){
    .banner {
        height: 100vh;
    }
}

